In [1]:
import pandas as pd
import numpy as np
from utils import get_BP, get_CBR

In [2]:
df = pd.read_csv('data/auction_stats.csv')
df

,player_pkey,Player,Team,Year,isOverseas,isBatsman,isBowler,isWicketKeeper,isCapped,UncappedAndPerformed,...,matches_bat,strike_rate_bat,average_bat,wickets_per_match,matches_bowl,economy_rate,strike_rate_bowl,average_bowl,base,Amount
0,219,Aaron Finch,Royal Challengers Bangalore,2020,1,1,0,0,1,0,...,109,148.183470,34.712766,0.000000,1,5.000000,0.000000,0.000000,2.0,4.4
1,217,Abdul Samad,Sunrisers Hyderabad,2020,0,1,1,0,0,0,...,22,146.567164,35.071429,0.272727,11,10.388889,62.333333,36.000000,0.2,0.2
2,1944,Abhijeet Tomar,Kolkata Knight Riders,2022,0,1,0,0,0,0,...,5,73.033708,13.000000,0.000000,0,0.000000,0.000000,0.000000,0.2,0.4
3,76,Abhishek Sharma,Sunrisers Hyderabad,2022,0,1,1,0,0,1,...,29,138.669951,25.590909,0.636364,11,7.904762,23.714286,18.000000,0.2,6.5
4,100,Adam Milne,Chennai Super Kings,2022,1,0,1,0,1,0,...,18,131.707317,13.500000,1.000000,38,7.420673,27.078947,21.894737,1.5,1.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300,2139,Writtick Chatterjee,Punjab Kings,2022,0,1,1,0,0,0,...,19,115.808824,22.500000,1.157895,19,5.803030,17.409091,18.000000,0.2,0.2
301,2267,Yash Dayal,Gujarat Titans,2022,0,0,1,0,0,0,...,4,76.923077,10.000000,0.916667,12,7.264706,22.454545,18.545455,0.2,3.2
302,230,Yashasvi Jaiswal,Rajasthan Royals,2020,0,1,1,0,0,1,...,8,115.322581,17.875000,0.000000,1,7.000000,0.000000,0.000000,1.0,2.4
303,2579,Yudhvir Charak,Mumbai Indians,2021,0,1,1,0,0,0,...,4,171.428571,6.000000,0.500000,6,8.590909,63.000000,44.000000,0.2,0.2
304,39,Yuzvendra Chahal,Rajasthan Royals,2022,0,0,1,0,1,0,...,10,35.294118,2.400000,1.097826,92,7.809384,26.366337,20.257426,2.0,6.5

In [3]:
df_final = pd.DataFrame()
for i in range(len(df)):
    temp = dict(df.iloc[i])
    temp['bat_powerplay'] = get_BP(temp['player_pkey'], 'powerplay')
    temp['bat_death'] = get_BP(temp['player_pkey'], 'death')
    temp['bowl_powerplay'] = get_CBR(temp['player_pkey'], 'powerplay')
    temp['bowl_death'] = get_CBR(temp['player_pkey'], 'death')
    
    df_final = df_final.append(temp, ignore_index=True)

In [4]:
df_final

,player_pkey,Player,Team,Year,isOverseas,isBatsman,isBowler,isWicketKeeper,isCapped,UncappedAndPerformed,...,matches_bowl,economy_rate,strike_rate_bowl,average_bowl,base,Amount,bat_powerplay,bat_death,bowl_powerplay,bowl_death
0,219.0,Aaron Finch,Royal Challengers Bangalore,2020.0,1.0,1.0,0.0,0.0,1.0,0.0,...,1.0,5.000000,0.000000,0.000000,2.0,4.4,1044.882229,221.922778,0.000000,0.000000
1,217.0,Abdul Samad,Sunrisers Hyderabad,2020.0,0.0,1.0,1.0,0.0,0.0,0.0,...,11.0,10.388889,62.333333,36.000000,0.2,0.2,0.000000,97.381963,0.000000,51.428571
2,1944.0,Abhijeet Tomar,Kolkata Knight Riders,2022.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.000000,0.000000,0.2,0.4,0.000000,0.000000,0.000000,0.000000
3,76.0,Abhishek Sharma,Sunrisers Hyderabad,2022.0,0.0,1.0,1.0,0.0,0.0,1.0,...,11.0,7.904762,23.714286,18.000000,0.2,6.5,29.225000,111.251652,0.000000,33.000000
4,100.0,Adam Milne,Chennai Super Kings,2022.0,1.0,0.0,1.0,0.0,1.0,0.0,...,38.0,7.420673,27.078947,21.894737,1.5,1.9,0.000000,104.111975,14.565807,11.911099
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300,2139.0,Writtick Chatterjee,Punjab Kings,2022.0,0.0,1.0,1.0,0.0,0.0,0.0,...,19.0,5.803030,17.409091,18.000000,0.2,0.2,106.356938,69.102167,9.194969,7.807229
301,2267.0,Yash Dayal,Gujarat Titans,2022.0,0.0,0.0,1.0,0.0,0.0,0.0,...,12.0,7.264706,22.454545,18.545455,0.2,3.2,0.000000,0.000000,7.686913,13.846154
302,230.0,Yashasvi Jaiswal,Rajasthan Royals,2020.0,0.0,1.0,1.0,0.0,0.0,1.0,...,1.0,7.000000,0.000000,0.000000,1.0,2.4,83.214529,0.000000,0.000000,0.000000
303,2579.0,Yudhvir Charak,Mumbai Indians,2021.0,0.0,1.0,1.0,0.0,0.0,0.0,...,6.0,8.590909,63.000000,44.000000,0.2,0.2,0.000000,36.112000,14.516129,21.857143
304,39.0,Yuzvendra Chahal,Rajasthan Royals,2022.0,0.0,0.0,1.0,0.0,1.0,0.0,...,92.0,7.809384,26.366337,20.257426,2.0,6.5,0.000000,23.558167,14.156285,12.062261

In [5]:
df_final.to_csv('data/auction_stats_special.csv')