In [1]:
import numpy as np
import pandas as pd
import scipy
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("datasets/Stats_data.csv")
df.head()

,Sl.NO.,PLAYER NAME,AGE,COUNTRY,TEAM,PLAYING ROLE,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,...,SR-B,SIXERS,RUNS-C,WKTS,AVE-BL,ECON,SR-BL,AUCTION YEAR,BASE PRICE,SOLD PRICE
0,1,"Abdulla, YA",2,SA,KXIP,Allrounder,0,0,0,0.00,...,0.00,0,307,15,20.47,8.90,13.93,2009,50000,50000
1,2,Abdur Razzak,2,BAN,RCB,Bowler,214,18,657,71.41,...,0.00,0,29,0,0.00,14.50,0.00,2008,50000,50000
2,3,"Agarkar, AB",2,IND,KKR,Bowler,571,58,1269,80.62,...,121.01,5,1059,29,36.52,8.81,24.90,2008,200000,350000
3,4,"Ashwin, R",1,IND,CSK,Bowler,284,31,241,84.56,...,76.32,0,1125,49,22.96,6.23,22.14,2011,100000,850000
4,5,"Badrinath, S",2,IND,CSK,Batsman,63,0,79,45.93,...,120.71,28,0,0,0.00,0.00,0.00,2011,100000,800000

In [3]:
x_features=['AGE','COUNTRY','PLAYING ROLE','T-RUNS','T-WKTS','ODI-RUNS-S','ODI-SR-B','ODI-WKTS','ODI-SR-BL','CAPTAINCY EXP','RUNS-S','HS','AVE','SR-B','SIXERS','RUNS-C','WKTS','AVE-BL','ECON','SR-BL']
cate_features=['AGE','COUNTRY','PLAYING ROLE','CAPTAINCY EXP']
df_enc=pd.get_dummies(df[x_features],columns=cate_features,drop_first=True)
df_enc.head()

20

In [ ]:
from sklearn.model_selection import train_test_split
x = df.
y=df['SOLD PRICE']
X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size=0.8, random_state=42)

In [ ]:
#import stats models api as sm
from statsmodels import api as sm


x=sm.add_constant(df_enc)

In [ ]:
x

In [ ]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
def get_vif_factors(x):
    cols = len(x.columns)
    vif=[variance_inflation_factor(x,i) for i in range(cols)]
    vif_factors=pd.DataFrame()
    vif_factors['column']=x.columns
    vif_factors['VIF']=vif
    return vif_factors

In [ ]:
vif_factors=get_vif_factors(x[x_features])
vif_factors

In [ ]:
columns_with_large_vif=vif_factors[vif_factors.VIF>4].column

In [ ]:
import seaborn as sn
import matplotlib.pyplot as plt
plt.figure(figsize=(12,10))
sn.heatmap(x[columns_with_large_vif].corr(), annot = True);
plt.title("Fig 4.5 heatmap depicting corr between features");

In [ ]:
columns_to_be_removed=['T-RUNS', 'T-WKTS','RUNS-S', 'HS', 'AVE','RUNS-C', 'SR-B', 'AVE-BL','ODI-SR-B','ODI-RUNS-S'
       'ECON', 'SR-BL', 'AGE_2']

In [ ]:
x_new_features=list(set(x_features)-set(columns_to_be_removed))

In [ ]:
get_vif_factors(x[x_new_features])

In [ ]:
#X_train=X_train[x_new_features]
#X_test = X_test[x_new_features]
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
reg = RandomForestRegressor()

In [ ]:
reg.fit(x, y)

In [ ]:
reg.score(X_train, Y_train)

In [ ]:
reg.score(X_test, Y_test)